{% extends "__structure__.html" %}

{% block content %}
    <h1>S'enregistrer</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.lastname.label }}<br>
            {{ form.lastname(placeholder=form.lastname.label.text) }} 
            {% for error in form.lastname.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.firstname.label }}<br>
            {{ form.firstname(placeholder=form.firstname.label.text) }} 
            {% for error in form.firstname.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(placeholder=form.username.label.text) }} 
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
         </p>
         <p>
            {{ form.birthday.label }}<br>
            {{ form.birthday(placeholder=form.birthday.label.text) }} 
            {% for error in form.birthday.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.promo_choice.label }}<br>
            {{ form.promo_choice }} 
            {% for error in form.promo_choice.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
         <p>
            {{ form.email.label }}<br>
            {{ form.email(placeholder=form.email.label.text) }} 
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(placeholder=form.password.label.text) }} 
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirmPass.label }}<br>
            {{ form.confirmPass(placeholder=form.confirmPass.label.text) }} 
            {% for error in form.confirmPass.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.accept_tos }} 
            <span>En cochant, vous acceptez nos <a href="terms">conditions d'utilisations</a></span>
        </p>
        <p>
            {{ form.recaptcha }} 
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}